---
layout: default
---

{% if page.include_html %}
  <style>
    .embedded-html {
      all: unset;
      display: block;
      margin: 0;
      padding: 0;
    }
  </style>

  <div class="embedded-html">
    {% include html/{{ page.include_html }} %}
  </div>
{% else %}
<header class="post-header">
  <h1 class="post-title">
    {{ page.title }}
    {% if page.cv_doc %}
      <a
        {% if page.cv_doc contains '://' %}
          href="{{ page.cv_doc }}"
        {% else %}
          href="{{ page.cv_doc | prepend: 'assets/' | relative_url }}"
        {% endif %}
        target="_blank"
        rel="noopener noreferrer"
        class="float-right"
      >
        <i class="fa-solid fa-file"></i>
      </a>
    {% endif %}
  </h1>
  {% if page.description %}
    <p class="post-description">{{ page.description }}</p>
  {% endif %}
</header>
<article>
<p> Please check out my <a href="{{ page.cv_doc | prepend: 'assets/' | relative_url }}">resume</a>! </p>
</article>
{% endif %}
